<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Load the `mapbox-gl-geocoder` plugin. -->
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">

</head>

<body>
    <h1>MAP</h1>
    <div>
        <input class="searchbar" type=" text " name=" recherche " placeholder=" Cherchez un acteur " />
    </div>
    <div>
        <button class="btn">Ajouter un acteur</button>
    </div>

    <div id="formulaire">
        <form name="general">
            <p>Informations</p>
            <input type="text" name="champ1" value="Titre de la fiche">
            <input type="text" name="champ2" value="Description">
            <input type="text" name="champ3" value="Engagements citoyens (en quoi l'acteur respecte la charte ?">

        </form>
    </div>

    <div id='map'></div>

    <script src="/static/script.js"></script>
</body>

</html>
