<html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

</head>

<body>
    <!-- Load the `mapbox-gl-geocoder` plugin. -->
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">

    <h1>Hello {{ username }}</h1>

    <div id='map' style='width: 800px; height: 600px;'></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFlbGtvIiwiYSI6ImNsMWtwZjI1bDAyYWozY28ycTkzMjg3bm4ifQ.8Jke-drPL92cg6fWZSKUkQ';
        var map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [2.13, 48.8], // starting position [lng, lat]
            zoom: 12 // starting zoom
        });

        // Create a default Marker, colored black, rotated 45 degrees.
        const marker2 = new mapboxgl.Marker({ color: 'black', rotation: 0 })
            .setLngLat([2.13, 48.8])
            .addTo(map);

        // Add the control to the map.
        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
            })
        );
    </script>

</body>

</html>
