<!-- Fichier html de test -->

<html>
    <head>
        <link rel="stylesheet" href="/css/test_css.css">

        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
        <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
            type="text/css">
    </head>
    <div style="display : none;" id="globalFormDiv">
        <form action="/index" method="post">
            <div>
                <label for="title">Titre de la fiche:</label>
                <input type="text" id="title" name="markerTitle" value="">
            </div>
            <div>
                <label for="description">Description :</label>
                <textarea id="description" name="markerDescription"></textarea>
            </div>
            <div>
                <label for="longitude">Longitude :</label>
                <input type="text" id="longitude" name="markerLongitude">
            </div>
            <div>
                <label for="latitude">Latitude :</label>
                <input type="text" id="latitude" name="markerLatitude">
            </div>
            <button onclick="rediriger()" type="button">Choisir l'emplacement</button>
            <div>
                <label for="icon">Icone :</label>
                <input type="text" id="icon" name="markerIcon">
            </div>
            <div>
                <button type="submit">Envoyer le message</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <span class="redDot"></span>
    <span class="redDot"></span>
    <span class="redDot"></span>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <button onclick="toggleOverlay()">Show/Hide Overlay</button>
    </div>
    <div>
    <button onclick="activateCoordDisplay()">Activate coord display</button>
    </div>
    <div>
        <button onclick="disactivateCoordDisplay()">Disactivate coord display</button>
    </div>
    <script type="text/javascript" src="/js/test_script.js"></script>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id='map'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY3NtYXhtYXIiLCJhIjoiY2wxa29rdzAxMDI0YjNkbzIwbnBuMTM5cSJ9.M3oJl_-BpsaC4_ly5O6rHw';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL

            // Dans l'implémentation sur le site, on pourrait avoir une base de donnée des valeurs de center et zoom en fonction des zones auxquelles les Max appartiennent
            // et lorsqu'un Max affiche cette carte et qu'il est connecté sur le site, la carte se centre sur la zone du Max en question.
            
            center: [2.135063, 48.81302], // starting position
            zoom: 13 // starting zoom
        });
    </script>
</html>